<!DOCTYPE html>
<html>
<head>
<!--https://closure-compiler.appspot.com/home-->
<title>Tanks</title>
<script src="/static/scripts/socket.io.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet" href="/static/css/tanks.css">
<script defer src="/static/scripts/rendertanks.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs/dist/tf.min.js"> </script>
<script src="https://cdn.jsdelivr.net/npm/reimprovejs@0/dist/reimprove.js"></script>
</head>


<body onload='startGame(); window.scrollTo(0, 0);'>
    <canvas id='gamearea' height=1000 width=1000 onclick='gamearea.listeneron()'></canvas>
<fieldset>
    <h1 id='temp'>WASD + Space</h1>
</fieldset>

<img id="red" src="/static/kevintank.png" width="220" height="277" hidden>
<img id="blue" src="/static/tank.png" width="220" height="277" hidden>
<img id="uparrow" src="/static/botharrows.png" width="220" height="277" hidden>
<img id="shootimg" src="/static/shootbutton.png" width="220" height="277" hidden>

<img id="walls" src="/static/black.png" width="220" height="277" hidden>
<div id='AudioSpamBecauseJavascriptCantOverlapSoundsSoIHaveToCycleThroughMultiple'>


<img id="bullet" src="/static/dart.png" width="220" height="277" hidden>
</body>
</html>