<!DOCTYPE html>
<html>
<head>
<!--https://closure-compiler.appspot.com/home-->
<title>Tanks</title>
<script src="/static/scripts/socket.io.js"></script>
<meta name="viewport" />
<script>
    const ipadress = "{{ ipadress }}";
</script>

<script defer src="/static/scripts/rendertanks.js"></script>
<link rel="stylesheet" href="/static/css/tanks.css">
</head>


<body onload='startGame();' class='noBorder'>

<canvas id='gamearea' onclick='gamearea.listeneron()' ></canvas>
</div>
<img id="tanks" src="/static/kevintank.png" width="220" height="277" hidden>
<img id="client" src="/static/tank.png" width="220" height="277" hidden>
<img id="uparrow" src="/static/botharrows.png" width="220" height="277" hidden>
<img id="shootimg" src="/static/shootbutton.png" width="220" height="277" hidden>
<img id="background" src="/static/blackcogs.png" hidden>

<img id="walls" src="/static/black.png" width="220" height="277" hidden>
<img id="bullet" src="/static/realbullet.png" width="220" height="277" hidden>
</body>
</html>